.app {
    --block-color: hsl(235, 24%, 19%);
    --block-shadow: 0 20px 30px rgb(15, 15, 35);
    --accent-color: hsl(220, 98%, 61%);
    --placeholder-color: hsl(234, 11%, 52%);
    --dark-color: hsl(233, 14%, 35%);
    --border-color: hsl(234, 11%, 52%);
    --text-color: hsl(234, 39%, 85%);
}
