.app.app--light {
    --block-color: hsl(0, 0%, 98%);
    --block-shadow-color: #d7d7e0;
    --block-shadow: 0 20px 40px var(--block-shadow-color);
    --item-border-color: hsl(234, 39%, 85%);
    --text-color: hsl(233, 14%, 35%);
    --dark-color: hsl(234, 39%, 85%);
    --icon-hover-color: hsl(233, 14%, 35%);
}
