.todo-item {
    display: flex;
    align-items: center;
    background: var(--block-color);
    border: 1px dashed transparent;
    cursor: pointer;
    transition: 100ms transform;

    &__value {
        width: 100%;
        padding: 20px 20px 20px 0;

        p {
            position: relative;
        }
    }

    &__checkbox {
        padding: 20px;
    }

    &__line-through {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--dark-color);
        transform-origin: left;
        transform: scaleX(0);
        opacity: 0;
        transition: 200ms;
    }

    &--done &__value {
        color: var(--dark-color);
    }

    &--done &__line-through {
        transform: none;
        opacity: 1;
    }

    .btn-close {
        transform: scale(.8);
        opacity: 0;
        visibility: hidden;
        transition: 100ms;
    }

    &:hover .btn-close, &--hover .btn-close {
        transform: none;
        opacity: 1;
        visibility: visible;
    }

    &--stub.todo-item {
        border: 1px dashed var(--icon-hover-color);
        transform: scale(.9);
        box-shadow: 10px 10px 25px 10px var(--block-shadow-color);
        cursor: move;
    }
}

@media (max-width: 760px) {
    .todo-item .btn-close {
        transform: none;
        opacity: 1;
        visibility: visible;
    }
}
