.list {
    border-radius: 4px;
    box-shadow: var(--block-shadow);
    background: var(--block-color);

    .todo-item {
        border-bottom: 1px solid var(--item-border-color);

        &:first-child {
            border-radius: 4px 4px 0 0;
        }
    }

    &__footer {
        color: var(--placeholder-color);
        padding: 20px;
        font-size: 14px;
    }
}

.list-mobile-footer {
    margin-top: 20px;
    padding: 15px 0;
    border-radius: 4px;
    box-shadow: var(--block-shadow);
    background: var(--block-color);
}
