.list {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: var(--block-shadow);
    background: var(--block-color);

    .todo-item {
        border-bottom: 1px solid var(--item-border-color);
    }

    &__footer {
        color: var(--placeholder-color);
        padding: 20px;
        font-size: 14px;
    }
}
