.x-checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;

    &:hover, &--focus {
        border: none;
        background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }

    &--focus {
        box-shadow: 0 0 15px hsla(280, 87%, 65%, .8);
    }

    &__mark {
        position: absolute;
        width: 19px;
        height: 19px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--block-color);
        border-radius: 50%;

        svg {
            opacity: 0;
        }
    }

    &--checked {
        border: none;
        background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }

    &--checked &__mark {
        background: transparent;

        svg {
            opacity: 1;
        }
    }
}
